html {
	background-color: #777;
}
h1{
	color: red;
	font-weight: normal;
}
.alert{
	color: blue;
}
h1.alert{
	color: #ddd;
	font-family: Georgia, "Times New Roman";
	font-size: 2em;
	font-style: italic;
	background-color: rgb(44, 55, 150);
}
p {
	line-height: 1.6;
	text-align: justify;
	width: 50%;
	margin: 0;
	margin-bottom: 1em;
	background-color: #999;
}